@model IEnumerable<GoodsModel>
@{
    ViewData["Title"] = "GoodsManagement";
    Layout = "~/Views/Manage/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.GoodsManagement);
}
<script src="~/js/jquery-3.3.1.min.js"></script>
<style>
    table.servicelst{
        width:100%;
    }

    table.servicelst tr td {
        font-size: 13px;
        height: 120px;
        list-style: none;
        border-bottom: dashed 1px #d0d0d0;
        padding-left:5px;
    }

    div.servicelstfooter a {
        margin-right: 20px;
        font-size: 13px;
        cursor: pointer;
        line-height: 40px;
    }
</style>
<h2 style="font-size:18px; font-weight:bold; line-height:40px; margin-top:0px;">商品列表</h2>
<table class="servicelst">
    <tr><td colspan="2" style="line-height:30px; height:30px; padding-left:5px;"><a href="/manage/goodsdetail"> + 发布商品</a></td></tr>
    @{
        var lastPage = ViewBag.CurrentPageIndex <= 1 ? 1 : ViewBag.CurrentPageIndex - 1;
        var nextPage = ViewBag.CurrentPageIndex + 1;
        if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr><td><img src="@item.GoodsImages?.FirstOrDefault()?.HttpPath" style="width:100px; height:100px;"/></td><td><a href="/Manage/GoodsDetail?id=@item.Id">@item.ItemNumber  @item.Title</a></td></tr>
            }
        }
        else
        {
            <tr><td colspan="2">没有数据了，返回 <a href="/Manage/goodsmanagement?pageindex=@ViewBag.CurrentPageIndex">上一页</a></td></tr>
        }
    }
</table>
@if (Model != null && Model.Count() > 0)
{
    <div class="servicelstfooter">
        <a href="/Manage/goodsmanagement?pageindex=@lastPage">上一页</a>
        <a href="javascript:return void(0);">@ViewBag.CurrentPageIndex</a>
        <a href="/Manage/goodsmanagement?pageindex=@nextPage">下一页</a>
    </div>
}

