
@{
    ViewData["Title"] = "GoodsCommentsManagement";
    Layout = "~/Views/Manage/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.GoodsCommentsManagement);
}

<h2>GoodsCommentsManagement</h2>

