
@{
    ViewData["Title"] = "ServicerCommentsManagement";
    Layout = "~/Views/Manage/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.ServicerCommentsManagement);
}

<h2>ServicerCommentsManagement</h2>

