@{
    ViewData["Title"] = "功能尚未开通";
}

<script src="~/js/jquery-3.3.1.min.js"></script>
<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">您尚未开通此功能，请联系 暗辰科技 进行开通。</p>
</header>
