@{
    ViewData["Title"] = "Forgot password confirmation";
}

<script src="~/js/jquery-3.3.1.min.js"></script>
<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>
