@{
    ViewData["Title"] = "Locked out";
}

<script src="~/js/jquery-3.3.1.min.js"></script>
<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
