@{
    ViewData["Title"] = "Reset password confirmation";
}

<script src="~/js/jquery-3.3.1.min.js"></script>
<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
</p>
