@{
    ViewData["Title"] = "关于我们";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<script src="~/js/jquery-3.3.1.min.js"></script>
<style>
    p {
        line-height:30px; text-indent:2em; font-size:14px; color:#666666;
    }

    dl{
        font-size:14px;
        color:#666;
    }

    dd {
        font-size: 14px;
        color: #666;
        line-height: 30px;
        text-indent:4em;
    }
</style>

<p>暗辰科技正式成立于2018-01-30，公司管理团队主要有几位来自英伟达、宝马、微软子公司微创、东方财富、汇付天下等知名公司的技术大牛组成，公司拥有很强的技术实力，尤其在电子商务、车联网、物联网和大数据等领域拥有丰富的实战经验，可以为企业提供非常完善的解决方案。公司也有自己的商户电子商务平台，专门服务于中小型商家，商家购买我们的服务后即可拥有自己的微信小程序。</p>

<p>暗辰可以提供的服务：</p>
<dl style="line-height:30px; font-size:14px;">
    <dd>电子商务解决方案</dd>
    <dd>车联网解决方案</dd>
    <dd>物联网解决方案</dd>
    <dd>企业ERP软件解决方案</dd>
    <dd>在线教育解决方案</dd>
    <dd>商户微信小程序解决方案</dd>
    <dd>定制化需求等</dd>
</dl>

@*<p>联系电话：18621685194 曹先生</p>*@