@{
    ViewData["Title"] = "联系我们";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@


<script src="~/js/jquery-3.3.1.min.js"></script>
<address>
    <strong>邮箱:</strong> <a href="mailto:arcanestars@163.com">arcanestars@163.com</a><br />
    <strong>微信:</strong> <a href="mailto:arcanestars@163.com">harrisoncao</a><br />
    <strong>电话:</strong> <span>18621685194</span>
</address>
