@{
    ViewData["Title"] = "产品 | 案例";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<script src="~/js/jquery-3.3.1.min.js"></script>
<style>
    p {
        line-height: 30px;
        text-indent: 2em;
        font-size: 14px;
        color: #666666;
    }

    dl {
        font-size: 14px;
        color: #666;
    }

    dd {
        font-size: 14px;
        color: #666;
        line-height: 30px;
        text-indent: 4em;
    }
</style>

<div style="padding-left:20px; padding-right:20px; line-height:40px;">
    <table style="width:100%">
        <tr><td colspan="3" style="line-height:40px; border-bottom:solid 1px #ccc;"><b>微信小程序</b> - 产品一览 （阿拉拼团购小程序、Gooios居家养老小程序、Baby养成小程序等等）</td></tr>
        <tr><td style="text-align:center; padding-top:30px; padding-bottom:30px;"><img src="~/images/p1.jpg" style="width:300px; margin-right:30px;" /><img src="~/images/p2.jpg" style="width:300px;margin-right:30px;" /><img src="~/images/p3.jpg" style="width:300px; margin-right:30px;" /></td></tr>
        <tr><td colspan="3" style="line-height:40px; padding-top:30px;  border-bottom:solid 1px #ccc;"><b>商户Saas系统</b> <br />- 预览版 商家入驻暗辰商户Saas平台后即可可以使用商品发布功能（支持团购），发布服务信息功能，发布服务者功能，订单管理功能等等，后续还会提供商户营销功能。</td></tr>
        <tr><td colspan="3" style="text-align:center; padding-top:30px; padding-bottom:30px;"><img src="~/images/p4.jpg" style="width:85%" /></td></tr>
        <tr><td colspan="3" style="line-height:40px; padding-top:30px;  border-bottom:solid 1px #ccc;"><b><a href="http://www.qianhengad.com" target="_blank">千恒广告</a> </b> - 企业自适应网站</td></tr>
        <tr><td colspan="3" style="line-height:40px; padding-top:30px;  border-bottom:solid 1px #ccc;"><b><a href="http://www.51rongjia.com" target="_blank">荣嘉金服</a></b> - 企业自适应网站</td></tr>
        <tr><td colspan="3" style="line-height:40px; padding-top:30px; border-bottom:solid 1px #ccc;"><b>解决方案</b></td></tr>
        <tr><td colspan="3" style=" padding-bottom:30px;">暗辰信息科技拥有丰富的平台解决方案经验，可以提供各类平台解决方案，包括：车联网解决方案、物联网解决方案、电子商务解决方案、企业定制化需求解决方案等等。
            <br />曾为上海筑云金融服务有限公司提供金融借贷平台解决方案、CRM系统解决方案与定制化开发。
            <br />曾为上海知名教育企业提供在线教育APP解决方案和内部管理系统定制化需求。
            </td></tr>
    </table>
</div>